/* Clock */

.clock {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#time {
    width: 400px;
    font-family: 'Roboto';
    font-size: 30px;
    background: lightpink;
    padding: 10px;
    border: 3px solid #000;
}

/* Tabs */

#tabs {
    width: 210px;
    height: 250px;
    font-family: 'Roboto';
    margin: 20px;
}

#tab-headers {
    list-style: none;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    cursor: pointer;
}

 #tab-headers li {
    width: 70px;
    background-color: lightgoldenrodyellow;
    display: flex;
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.content {
    background: lightcyan;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border: 2px solid black;
}

/* Root */

#root {
    display: flex;
    justify-content: space-around;
}

/* Reset */

html, body, h1, p, ul {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    background: transparent;
}
